<form>
  <div class="form-row">
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <label for="fromDate">From</label>
      <input id="fromDate" placeholder="Datepicker" class="form-control" bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <label for="toDate">To</label>
      <input id="toDate" placeholder="Daterangepicker" class="form-control" bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <label>Category</label>
      <ng-select
        [items]="categories"
        bindLabel="name"
        bindValue="id"
        name="category"
        (change)="onFilterWithCategory()"
        [(ngModel)]="selectedCategoryId"
      > 
      </ng-select>
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>

  </div>
</form>
