<aside>
    <div class="container-fluid h-100 overflow-auto">
        <div class="row h-100">
            <div class="col-2 h-100 d-flex align-items-end justify-content-center">
                <ul class="social-wrapper list-unstyled">
                    <li class="mb-4">
                        <i class="twiiter"></i>
                    </li>
                    <li class="mb-4">
                        <i class="facebook"></i>
                    </li>
                    <li class="mb-4">
                        <i class="linked-in"></i>
                    </li>
                    <li class="mb-4">
                        <i class="youtube"></i>
                    </li>
                    <li>
                        <i class="instagram"></i>
                    </li>
                </ul>
            </div>
            <div class="col-10 h-100 d-flex flex-column justify-content-between">
              <ul class="list-inline d-block d-lg-none mt-5">
                  <li class="list-inline-item">
                      <button class="btn btn-link pl-0" href="#">
                          <img src="../../../assets/images/search-icon.svg" class="main-navbar__nav-icon" alt="search-icon" />
                      </button>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-link" href="#">
                        <img src="../../../assets/images/notification-icon.svg" class="main-navbar__nav-icon" alt="notification-icon" />
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <img src="../../../assets/images/user-img.jpg" class="main-navbar__nav-user-icon rounded-circle" width="60" alt="user-img" />
                      <span class="user-name">User Name</span>
                    </a>
                  </li>
                  <li class="dropdown list-inline-item">
                    <button class="dropdown-toggle btn btn-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="../../../assets/images/settings-icon.svg" class="main-navbar__nav-icon" alt="settings-icon" />
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Language</a>
                      <a class="dropdown-item" href="#">Font Size action</a>
                    </div>
                  </li>
                </ul>
                <ul class="sidebar-links top-sidebar-wrapper list-unstyled mt-4">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">About us</a>
                        <ul class="top-sidebar-seconde-level list-unstyled">
                            <li><a href="#">Who are us</a></li>
                            <li><a href="#">Why us?</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/news']" routerLinkActive="router-link-active" >News</a>
                        <ul class="top-sidebar-seconde-level list-unstyled">
                            <li><a href="#" [routerLink]="['/news']">News</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Careers</a>
                        <ul class="top-sidebar-seconde-level list-unstyled">
                            <li><a href="#">Opportunities</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="sidebar-links bottom-sidebar-wrapper list-unstyled mb-2">
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>
