<app-breadcrumb></app-breadcrumb>

<div class="latest-news-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <header class="header-wrapper mt-1">
                  <h1 class="header-wrapper__heading">News</h1>
              </header>
          </div>
      </div>
      <app-search (filterItem)="filterWithCategory($event)" (searchQuery)="filter($event)" (sortFlag)="sort($event)"></app-search>
      <div class="row mt-5">
          <div class="col-12 col-sm-6 col-lg-4" *ngFor="let article of filteredArticles">
              <app-news-card [article]='article'></app-news-card>
          </div>
      </div>
  </div>
</div>
