.header-wrapper {
  margin: 1rem 0;
  &__heading {
    font-size: 6rem;
    font-weight: 600;
    @media (max-width: 991.98px) {
      font-size: 3rem;
    }
    @media (max-width: 575.98px) {
      font-size: 2rem;
    }
  }
}
