
/* laureate main theme */
$main-blue: #00B9FF;
$main-green: #8DC043;
$main-turquoise: #038896;
$main-grey: #565960;

$light-grey: #fbfbfb;
$mid-light-grey: #efefef;
$mid-dark-grey: #565960;
$dark-grey: #181c25;

$white: #fff;