<footer class="footer-wrapper p-t-40">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <ul class="list-unstyled footer-wrapper__menu-links">
          <li class="footer-wrapper__link-item"><a class="footer-wrapper__link" href="#">News</a></li>
          <li class="footer-wrapper__link-item"><a class="footer-wrapper__link" href="#">Event</a></li>
          <li class="footer-wrapper__link-item"><a class="footer-wrapper__link" href="#">About</a></li>
          <li class="footer-wrapper__link-item"><a class="footer-wrapper__link" href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="list-unstyled footer-wrapper__menu-links">
          <li class="footer-wrapper__link-item"><a class="footer-wrapper__link" href="#">Privacy Policy</a></li>
          <li class="footer-wrapper__link-item"><a class="footer-wrapper__link" href="#">Contact Us</a></li>
          <li class="footer-wrapper__link-item"><a class="footer-wrapper__link" href="#">Complains</a></li>
        </ul>
      </div>
      <div class="col-4">
        <p class="footer-wrapper__text">Subscribe to Newsletter</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-green" type="button" id="button-addon2">
              Subscribe
            </button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <p class="footer-wrapper__text">Follow us on</p>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item mr-4"><a href="#"><img src="../../../assets/images/icons/instagram-icon.svg" alt="instagram-icon" /></a></li>
          <li class="list-inline-item mr-4"><a href="#"><img src="../../../assets/images/icons/youtube-icon.svg" alt="youtube-icon" /></a></li>
          <li class="list-inline-item mr-4"><a href="#"><img src="../../../assets/images/icons/linkedin-icon.svg" alt="linkedin-icon" /></a></li>
          <li class="list-inline-item mr-4"><a href="#"><img src="../../../assets/images/icons/facebook-icon.svg" alt="facebook-icon" /></a></li>
          <li class="list-inline-item mr-4"><a href="#"><img src="../../../assets/images/icons/twitter-icon.svg" alt="twitter-icon" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-wrapper__copyrights mt-5 py-3">
    <p class="text-center m-0">All rights reserved - link Development Company &copy; 2021</p>
  </div>
</footer>
