<div class="news-card-wrapper card mb-5">
  <img [src]="cardInfo.urlToImage" onerror="this.src='../../../../assets/images/carousel/carousel-1.jpg'" class="news-card-wrapper__img card-img-top" alt="news-img">
  <div class="news-card-wrapper__body card-body d-flex justify-content-between flex-column">
      <div class="news-card-wrapper__body__actions d-flex justify-content-end my-4">
          <img src="../../../../assets/images/icons/like.svg" class="mr-3" alt="like-icon" />
          <img src="../../../../assets/images/icons/share.svg"  alt="share-icon"/>
      </div>
      <h2 class="news-card-wrapper__body__title card-title">{{ cardInfo.title }}</h2>
      <div class="news-card-wrapper__body__badges my-3">
        <span class="news-card-wrapper__body__badges__badge badge badge-light bg-light-grey">News</span>
      </div>
      <p class="news-card-wrapper__body__text card-text">{{ cardInfo.description }}</p>
      <p href="#" class="news-card-wrapper__body__date">
        <img src="../../../../assets/images/icons/celender.svg" class="align-text-top" alt="calender-icon"/> {{ cardInfo.publishedAt | date: "fullDate" }}
      </p>
  </div>
</div>
