<section class="how-we-helped p-y-80">
  <div class="container">
    <div class="row">
      <div class="col">
        <header class="header-wrapper text-center">
          <h1 class="header-wrapper__heading text-light mb-5">How we have helped</h1>
          <p class="header-wrapper__text  text-light">See how AI Foundation have promoted change locally and to the
            world</p>
        </header>
      </div>
    </div>
    <div class="row justify-content-center m-t-60">
      <div class="how-we-helped__boxes-wrapper">
        <div class="how-we-helped__boxes-row">
          <div class="how-we-helped__sets how-we-helped__sets--set-1">
            <div class="how-we-helped__box">
              <span class="how-we-helped__box--rotate">
                <img class="how-we-helped__box__icon" src="../../../../assets/images/icons/pin-icon.svg"
                  alt="pin-icon" />
                <p class="how-we-helped__box__text">Find place</p>
              </span>
            </div>
            <div class="how-we-helped__box">
              <span class="how-we-helped__box--rotate">
                <img class="how-we-helped__box__icon" src="../../../../assets/images/icons/eye-icon.svg"
                  alt="eye-icon">
                <p class="how-we-helped__box__text">Aawen</p>
              </span>
            </div>
          </div>
          <div class="how-we-helped__sets how-we-helped__sets--set-2">
            <div class="how-we-helped__box">
              <span class="how-we-helped__box--rotate">
                <img class="how-we-helped__box__icon" src="../../../../assets/images/icons/info-icon.svg"
                  alt="info-icon">
                <p class="how-we-helped__box__text">Omniyat</p>
              </span>
            </div>
            <div class="how-we-helped__box">
              <span class="how-we-helped__box--rotate">
                <img class="how-we-helped__box__icon" src="../../../../assets/images/icons/alarm-icon.svg"
                  alt="alarm-icon">
                <p class="how-we-helped__box__text">Give Time</p>
              </span>
            </div>
          </div>
        </div>

        <div class="how-we-helped__boxes-row">
          <div class="how-we-helped__sets how-we-helped__sets--set-1">
            <div class="how-we-helped__box">
              <span class="how-we-helped__box--rotate">
                <img class="how-we-helped__box__icon" src="../../../../assets/images/icons/child-icon.svg"
                  alt="child-icon">
                <p class="how-we-helped__box__text">Tofoula</p>
              </span>
            </div>
            <div class="how-we-helped__box">
              <span class="how-we-helped__box--rotate">
                <img class="how-we-helped__box__icon" src="../../../../assets/images/icons/phone-icon.svg"
                  alt="phone-icon">
                <p class="how-we-helped__box__text">Fundraising</p>
              </span>
            </div>
          </div>
          <div class="how-we-helped__sets how-we-helped__sets--set-3">
            <div class="how-we-helped__box">
              <span class="how-we-helped__box--rotate">
                <img class="how-we-helped__box__icon" src="../../../../assets/images/icons/charity-icon.svg"
                  alt="charity-icon">
                <p class="how-we-helped__box__text">Zakat</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
